@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
  padding: 0;
}
td,th{
  line-height: 1.2rem;
}

/* ------- login page start ----------*/

#login_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: #dde1e7;
}
#login_wrapper .content{
  width: 330px;
  padding: 40px 30px;
  background: #dde1e7;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73,
               2px 2px 5px rgba(94,104,121,0.288);
}
#login_wrapper .content .text{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #595959;
}
#login_wrapper .field{
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
}
#login_wrapper .field:nth-child(2){
  margin-top: 20px;
}
#login_wrapper .field input{
  height: 100%;
  width: 100%;
  padding-left: 45px;
  outline: none;
  border: none;
  font-size: 18px;
  background: #dde1e7;
  color: #595959;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #BABECC,
              inset -5px -5px 10px #ffffff73;
}
#login_wrapper .field input:focus{
  box-shadow: inset 1px 1px 2px #BABECC,
              inset -1px -1px 2px #ffffff73;
}
#login_wrapper .field span{
  position: absolute;
  color: #595959;
  width: 50px;
  line-height: 50px;
}
#login_wrapper .field label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 45px;
  pointer-events: none;
  color: #666666;
}
#login_wrapper .field input:valid ~ label{
  opacity: 0;
}
#login_wrapper .forgot-pass{
  text-align: left;
  color: #3498db;
  font-size: 16px;

  margin: 10px 0 10px 5px;
}
#login_wrapper .forgot-pass input{
  margin-right: 5px;
}

#login_wrapper button{
  margin: 15px 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: 500;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #595959;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
#login_wrapper a{
  width: 100%;
  height: 50px;
  display: inline-block;
  font-size: 18px;
  line-height: 50px;
  font-weight: 500;
  background: #dde1e7;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #d63031;
  box-shadow: 2px 2px 5px #BABECC,
             -5px -5px 10px #ffffff73;
}
#login_wrapper button:focus{
  color: #3498db;
  box-shadow: inset 2px 2px 5px #BABECC,
             inset -5px -5px 10px #ffffff73;
}
.error{
    display: inline-block;
    text-align: left;
    color: red;
    transform: translateY(-10px);
}

/* ------- login page end ----------*/

/* ------- dashboard page start ----------*/

#sidebar-toggle {
  display: none;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background: #0A0218;
  color: #fff;
  overflow-y: auto;
  transition: width 500ms;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.sidebar-header img{
  height: 50px;
  margin-left: 5px;
  cursor: pointer;
}
.sidebar-header label{
  margin-right: 10px;
  cursor: pointer;
}

.sidebar li {
  padding: 12px 20px;
  cursor: pointer;
}
.sidebar li.active{
  background: white;
  color: #0A0218;
  border-bottom: 1px solid #150338;
  border-top: 1px solid #150338;
}
.sidebar li:hover{
  background: white;
  color: #0A0218;
}
.sidebar li span{
  margin-left: 10px;
}

#sidebar-toggle:checked ~ .sidebar {
  width: 60px;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header h3 span,
#sidebar-toggle:checked ~ .sidebar li span:last-child {
  display: none;
}

#sidebar-toggle:checked ~ .sidebar .sidebar-header,
#sidebar-toggle:checked ~ .sidebar li {
  display: flex;
  justify-content: center;
}

#sidebar-toggle:checked ~ .main-content {
  margin-left: 60px;
}

#sidebar-toggle:checked ~ .main-content header {
  left: 60px;
  width: calc(100% - 60px);
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header img{
  display: none;
}
#sidebar-toggle:checked ~ .sidebar .sidebar-header label{
  margin: 0;
}

.main-content {
  position: relative;
  margin-left: 240px;
  transition: margin-left 500ms;
}
header {
  position: fixed;
  left: 240px;
  top: 0;
  z-index: 100;
  width: calc(100% - 240px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  transition: left 500ms;
}
header .headertext h2{
  font-weight: 500;
  margin-bottom: 0;
  font-size: 24px;
  color: #150338;
}

.search-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid silver;
  border-radius: 20px;
}
.search-wrapper .ti-search{
  padding: 5px 5px 5px 10px;
}
.search-wrapper input {
  border: 0;
  outline: 0;
  padding: 1rem;
  height: 35px;
  border-radius: 20px;
}

.social-icons{
  display: flex;
  align-items: center;
}
.social-icons .image{
  margin-right: 10px;
}
.social-icons .image img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.social-icons .details h4{
  font-weight: 600;
  color: #150338;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.03rem;
}
.social-icons .details span{
  color: grey;
  text-transform: capitalize;
}

main {
  margin-top: 60px;
  background: #f1f5f9;
  min-height: 90vh;
  padding: 1rem 3rem;
}

.dash-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card-single {
  background: #fff;
  width: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.75);
}

.card-body {
  padding: 1.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-body i {
  font-size: 2rem;
  color: #150338;
  margin-left: 74px;
}

.card-body h5 {
  color: grey;
  font-size: 1rem;
  font-weight: 500;
}

.card-body h4 {
  color: #150338;
  margin-top: .2rem;
  font-size: 25px;
  margin-bottom: 5px;
}

.recent {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.activity-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.activity-grid .summary{
  width: 25%;
}

.activity-card,
.summary-card{
  background: #fff;
  border-radius: 7px;
}
.activity-card{
  width: 72%;
}

.activity-card h3 {
  color: #150338;
  margin: 1rem;
  font-weight: 500;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #150338;
  text-align: left;
}
thead th{
  color: white;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.summary-card .heading{
  display: flex;
  justify-content: space-around;
}
.summary-card .heading h3{
  color: #150338;
}
.summary-card .heading p{
  cursor: pointer;
  color: #150338;
}
.summary-card .heading p i{
  font-size: 13px;
}
.summary-card .heading a i{
  font-size: 13px;
}
.summary-card .heading h3{
  font-weight: 500;
  margin-bottom: 20px;
}
.summary-card .members{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
}
.summary-card .members img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.summary-card .members button{
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #150338;
  margin-right: 20px;
}
.summary-card .members p{
  font-weight: 500;
  margin-right: 30px;
}

th, td {
  font-size: .9rem;
  padding: 1rem 1rem;
}

td {
  font-size: 0.9em;
  font-weight: 500;
}
td button{
  border: 0;
  padding: 6px 10px;
  cursor: pointer;
  margin: 0 5px;
  color: white;
  outline: none;
}
td img{
  height: 45px;
  width: 45px;
}
td button.view{
  background: green;
}
td button.delete{
  background: red;
}

.badge {
  padding: .4rem 1rem;
  border-radius: 20px;
  font-weight: 500;
  font-size: .8rem;
}

.badge.success {
  background: #DEF7EC;
  color: green;
}

.badge.warning {
  background: #F0F6B2;
  color: orange;
}

.td-team {
  display: flex;
  align-items: center;
}

.summary-card {
  margin-bottom: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.bday-flex {
  display: flex;
  align-items: center;
  margin-bottom: .3rem;
}

.text-center {
  text-align: center;
}

.table-responsive {
  overflow-x: auto;
}

/* ------- dashboard page end ----------*/

/* ------- add member page start ----------*/

#wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(to left,rgba(0, 0, 0,0.7),rgba(0, 0, 0,0.7)),url("../../img/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px 0 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.request-container{
  width: 100%;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  color: #150338;
  font-size: 28px;
  font-weight: 500;
  position: relative;
}
.title{
  color: #150338;
  font-size: 28px;
  font-weight: 500;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 3px 0;
}

form .user-details .input-box{
  margin-bottom: 5px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 10px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #150338;
}

  #msg{
    transform: translateY(0px);
    display: none;
    font-weight: 500;
  }
  .error{
    color: red;
  }
  .success{
    color: green;
  }


/* ------- add member page end ----------*/


.profileSection{
  width: 45%;
  background:white;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.profileSection .account-full{
  width: 100%;
  display: flex;
  font-size: 20px;
}
.profileSection .account-full img{
  width: 130px;
  height: 130px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  
}
.profileSection .account-full .account-half{
  width: 40%;
  padding: 8px;
  font-size: 18px;
}
.profileSection .account-full .account-half-2{
  width: 60%;
  padding: 8px;
  font-size: 18px;
}
.profileSection .account-full button{
    border: 0;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: white;
    outline: none;
    background: #150338;
}
.card-body h5{
    font-weight: 500;
    font-size: 28px;
    color: #150338;
}
.card .btn{
  background-color: #150338;
}
.btn.status{
  font-size: 12px;
  pointer-events: none;
  border-radius: 20px;
}
.btn-gap{
  margin-bottom: 5px;
}
.btn-bg-color{
  background-color: #150338;
}
.social-icons{
  cursor: pointer;
}
.signature{
  border-top: 1px dashed #150338;
  padding-top: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #150338;
  border-radius: 20px;
}
.sig{
  width: 100px;
  height: 50px;
}
.clearence-logo{
  position: absolute;
  left: 0;
  top: 0;
  height: 90px;
  width: 90px;
}
.copy-mark{
  border: 1px solid black;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  top: 30px;
}

.sticky-btn{
  position: sticky;
  top: 100px;
}
.cursor{
  cursor: pointer;
}